clientix-assist.ru {
    handle /api/* {
        reverse_proxy webapi:5050
    }

    handle /payments/* {
        reverse_proxy botgateway:5000
    }

    # √лавна€ страница / + любые публичные пути > лендинг
    handle {
        reverse_proxy landing:80
    }
}