clientix-assist.ru {
    handle /api/* {
        reverse_proxy webapi:5050
    }

    handle /payments/* {
        reverse_proxy botgateway:5000
    }

    redir /app /app/ permanent

    handle_path /app/* {
        reverse_proxy master:80
    }

    handle {
        reverse_proxy landing:80
    }
}
